package ${package}.constants;

/**
 * 成都思致科技有限公司
 *
 * @author ${author}
 * @date ${date}
 * @version V1.0
 * 说明：数字相关常量
 * =========================================================================
 * 变更履历：
 * -------------------------------------------------------------------------
 * 变更编号     变更时间    变更人   变更原因    变更内容
 * -------------------------------------------------------------------------
 * <p>
 **/
public class NumberConstants {
    /**
     * ZERO = 0
     */
    public static final int ZERO = 0;

    /**
     * ONE = 1
     */
    public static final int ONE = 1;

    /**
     * TWO = 2
     */
    public static final int TWO = 2;

    /**
     * THREE = 3
     */
    public static final int THREE = 3;

    /**
     * FIVE = 4
     */
    public static final int FOUR = 4;

    /**
     * ZERO = 0
     */
    public static final int FIVE = 5;

    /**
     * SIX = 6
     */
    public static final int SIX = 6;

    /**
     * SEVEN = 7
     */
    public static final int SEVEN = 7;

    /**
     * EIGHT = 8
     */
    public static final int EIGHT = 8;

    /**
     * NINE = 9
     */
    public static final int NINE = 9;

    /**
     * TEN = 10
     */
    public static final int TEN = 10;

    /**
     * Twelve = 12
     */
    public static final int TWELVE = 12;

    /**
     * THIRTEEN = 13
     */
    public static final int THIRTEEN = 13;

    /**
     * FOURTEEN = 14
     */
    public static final int FOURTEEN = 14;

    /**
     * ONE_FIVE = 15
     */
    public static final int ONE_FIVE = 15;

    /**
     * SIXTEEN =16
     */
    public static final int SIXTEEN = 16;

    /**
     * EIGHTEEN = 18
     */
    public static final int EIGHTEEN = 18;

    /**
     * NINETEEN = 19
     */
    public static final int NINETEEN = 19;

    /**
     * TWENTY = 20
     */
    public static final int TWENTY = 20;

    /**
     * TWENTY_THREE = 23
     */
    public static final int TWENTY_THREE = 23;

    /**
     * TWENTY_FOUR = 24
     */
    public static final int TWENTY_FOUR = 24;

    /**
     * TWENTY_FOUR = 25
     */
    public static final int TWENTY_FIVE = 24;

    /**
     * TWENTY_SIX=26
     */
    public static final int TWENTY_SIX = 26;

    /**
     * THIRTY = 30
     */
    public static final int THIRTY = 30;

    /**
     * THIRTY_TREE
     */
    public static final int THIRTY_TREE = 32;

    /**
     * FORTY=40
     */
    public static final int FORTY = 40;

    /**
     * FIFTY=50
     */
    public static final int FIFTY = 50;

    /**
     * EIGHTY=80
     */
    public static final int EIGHTY = 80;

    /**
     * ONE_ZERO_ZERO
     */
    public static final int ONE_ZERO_ZERO = 100;

    /**
     * ONE_ONE_ZERO=110
     */
    public static final int ONE_ONE_ZERO = 110;

    /**
     * ONE_ZERO_ONE = 101
     */
    public static final int ONE_ZERO_ONE = 101;

    /**
     * ONE_ONE_ONE = 111
     */
    public static final int ONE_ONE_ONE = 111;

    /**
     * ONE_TWO_ONE = 121
     */
    public static final int ONE_TWO_ONE = 121;

    /**
     * ONE_TWO_EIGHT = 128
     */
    public static final int ONE_TWO_EIGHT = 128;

    /**
     * ONE_THREE_THREE=133
     */
    public static final int ONE_THREE_THREE = 133;

    /**
     * TWO_HUNDRED=200
     */
    public static final int TWO_HUNDRED = 200;

    /**
     * TWO_FIVE_FIVE = 255
     */
    public static final int TWO_FIVE_FIVE = 255;

    /**
     * TWO_FIVE_SIX = 256
     */
    public static final int TWO_FIVE_SIX = 256;

    /**
     * FOUR HUNDRED = 256
     */
    public static final int FOUR_HUNDRED = 400;

    /**
     * FOUR_ZERO_ONE = 401
     */
    public static final int FOUR_ZERO_ONE = 401;

    /**
     * THREE_HUNDRED = 300
     */
    public static final int THREE_HUNDRED = 300;

    /**
     * THREE_FIVE_ZERO = 350
     */
    public static final int THREE_FIVE_ZERO = 350;

    /**
     * FIVE_HUNDRED = 500
     */
    public static final int FIVE_HUNDRED = 500;

    /**
     * EIGHT_HUNDRED = 800
     */
    public static final int EIGHT_HUNDRED = 800;

    /**
     * SIX_THREE_SEVEN_NINE = 6379
     */
    public static final int SIX_THREE_SEVEN_NINE = 6379;

    /**
     * ONE_ZERO_TWO_FOUR = 1024
     */
    public static final int ONE_ZERO_TWO_FOUR = 1024;

    /**
     * ONE_THOUSAND = 1000
     */
    public static final int ONE_THOUSAND = 1000;

    /**
     * 一小时3600秒：THREE_SIX_ZERO_ZERO = 3600
     */
    public static final int THREE_SIX_ZERO_ZERO = 3600;

    /**
     * FIFTY*1024*1024=50M
     */
    public static final int FIFTY_MILLION = 50 * 1024 * 1024;

}
