package ${package};

import club.newepoch.isf.BaseApplication;
import club.newepoch.isf.code.reviewer.autoconfig.CodeReviewAutoConfig;
import club.newepoch.isf.ext.feign.EnableIsfCustomFeign;
import cn.net.cdsz.mybatis.common.annotation.EnableCdszMyBatis;
import lombok.extern.slf4j.Slf4j;
import org.mybatis.spring.annotation.MapperScan;
import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.cloud.client.discovery.EnableDiscoveryClient;
import org.springframework.cloud.openfeign.EnableFeignClients;

/**
 * 成都思致科技有限公司
 * 说明：启动类
 *
 * @author ${author}
 * @version V1.0
 * @date ${datetime}
 */
@Slf4j
@SpringBootApplication(exclude = {
    CodeReviewAutoConfig.class,
    org.springframework.boot.autoconfigure.transaction.TransactionAutoConfiguration.class
})
@MapperScan("com.cdyfsz.svc.*.infrastructure.persistent.*.mapper")
@EnableCdszMyBatis
@EnableDiscoveryClient
@EnableIsfCustomFeign
@EnableFeignClients(basePackages = {"com.cdyfsz.*"})
public class Application extends BaseApplication {
    public static void main(String[] args) {
        SpringApplication.run(Application.class, args);
        log.info("启动成功。。。");
    }
}
