<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>
    <parent>
        <artifactId>BaseCloud</artifactId>
        <groupId>club.newepoch</groupId>
        <version>2.0.0.0.23081802-release</version>
    </parent>
    <groupId>com.cdyfsz</groupId>
    <artifactId>${appName}-parent</artifactId>
    <version>${revision}</version>
    <name>${appName}</name>
    <description>服务</description>
    <packaging>pom</packaging>

    <modules>
        <module>${appName}-api</module>
        <module>${appName}</module>
    </modules>

    <properties>
        <revision>1.0.0.0.23110401-SNAPSHOT</revision>
        <self.api.version>${revision}</self.api.version>

        <java.version>1.8</java.version>
        <!-- Maven plugin's dependency version -->
        <maven-clean-plugin.version>3.2.0</maven-clean-plugin.version>
        <maven-compiler-plugin.version>3.10.1</maven-compiler-plugin.version>
        <maven-resources-plugin>3.2.0</maven-resources-plugin>
        <maven-jar-plugin.version>3.2.2</maven-jar-plugin.version>
        <maven-javadoc-plugin.version>3.4.0</maven-javadoc-plugin.version>
        <maven-source-plugin.version>3.2.1</maven-source-plugin.version>
        <maven-deploy-plugin.version>2.8.2</maven-deploy-plugin.version>
        <maven-flatten-plugin.version>1.2.7</maven-flatten-plugin.version>
        <maven-versions-plugin.version>2.11.0</maven-versions-plugin.version>
        <maven-pmd-plugin.version>3.14.0</maven-pmd-plugin.version>

        <spring-cloud.version>2020.0.4</spring-cloud.version>
        <spring-cloud-alibaba.version>2021.1</spring-cloud-alibaba.version>
        <springdoc.version>1.6.9</springdoc.version>
        <lombok.version>1.18.24</lombok.version>
        <guava.version>31.1-jre</guava.version>
        <logstash-encoder.version>7.2</logstash-encoder.version>

        <base-cloud.version>1.0.4-release</base-cloud.version>
        <mybatis-plugin.version>1.0.6</mybatis-plugin.version>

        <docker-maven-plugin.version>1.2.2</docker-maven-plugin.version>
        <newepoch-docker-hub>registry.cn-shenzhen.aliyuncs.com/yfsz-test</newepoch-docker-hub>
        <newepoch-docker-server>192.168.137.7:2375</newepoch-docker-server>
        <workdir>newepoch</workdir>
        <image-name>biz.svc.loan.config</image-name>
    </properties>
    <dependencyManagement>

        <dependencies>
            <!-- 公司内部服务依赖 api  start-->
            <dependency>
                <groupId>com.cdyfsz</groupId>
                <artifactId>${appName}-api</artifactId>
                <version>${self.api.version}</version>
            </dependency>
            <!-- 公司内部服务依赖 api  end-->

            <dependency>
                <groupId>org.springframework.cloud</groupId>
                <artifactId>spring-cloud-dependencies</artifactId>
                <version>${spring-cloud.version}</version>
                <type>pom</type>
                <scope>import</scope>
            </dependency>
            <dependency>
                <groupId>com.alibaba.cloud</groupId>
                <artifactId>spring-cloud-alibaba-dependencies</artifactId>
                <version>${spring-cloud-alibaba.version}</version>
                <type>pom</type>
                <scope>import</scope>
            </dependency>
            <dependency>
                <groupId>club.newepoch</groupId>
                <artifactId>isf-boot-start</artifactId>
                <version>${base-cloud.version}</version>
            </dependency>
            <dependency>
                <groupId>com.google.guava</groupId>
                <artifactId>guava</artifactId>
                <version>${guava.version}</version>
            </dependency>
            <dependency>
                <groupId>org.springdoc</groupId>
                <artifactId>springdoc-openapi-ui</artifactId>
                <version>${springdoc.version}</version>
            </dependency>
            <dependency>
                <groupId>club.newepoch</groupId>
                <artifactId>mybatis-boot-start</artifactId>
                <version>${base-cloud.version}</version>
            </dependency>
            <dependency>
                <groupId>cn.net.cdsz</groupId>
                <artifactId>mybatis-plugin</artifactId>
                <version>${mybatis-plugin.version}</version>
            </dependency>
            <dependency>
                <groupId>club.newepoch</groupId>
                <artifactId>cache-boot-start</artifactId>
                <version>${base-cloud.version}</version>
            </dependency>
            <!-- 规则引擎 -->
            <dependency>
                <groupId>com.alibaba</groupId>
                <artifactId>QLExpress</artifactId>
                <version>3.3.1</version>
            </dependency>
        </dependencies>
    </dependencyManagement>

    <build>
        <pluginManagement>
            <plugins>
                <plugin>
                    <groupId>org.apache.maven.plugins</groupId>
                    <artifactId>maven-clean-plugin</artifactId>
                    <version>${maven-clean-plugin.version}</version>
                </plugin>

                <!-- Maven 构建插件 -->
                <plugin>
                    <groupId>org.apache.maven.plugins</groupId>
                    <artifactId>maven-compiler-plugin</artifactId>
                    <version>${maven-compiler-plugin.version}</version>
                    <configuration>
                        <source>${maven.compiler.source}</source>
                        <target>${maven.compiler.target}</target>
                        <parameters>true</parameters>
                        <compilerArguments>
                            <Xlint/>
                        </compilerArguments>
                        <showWarnings>true</showWarnings>
                        <showDeprecation>true</showDeprecation>
                    </configuration>
                </plugin>
                <plugin>
                    <groupId>org.apache.maven.plugins</groupId>
                    <artifactId>maven-resources-plugin</artifactId>
                    <version>${maven-resources-plugin}</version>
                </plugin>
                <plugin>
                    <groupId>org.apache.maven.plugins</groupId>
                    <artifactId>maven-jar-plugin</artifactId>
                    <version>${maven-jar-plugin.version}</version>
                </plugin>
                <plugin>
                    <groupId>org.apache.maven.plugins</groupId>
                    <artifactId>maven-javadoc-plugin</artifactId>
                    <version>${maven-javadoc-plugin.version}</version>
                    <configuration>
                        <encoding>UTF-8</encoding>
                        <charset>UTF-8</charset>
                        <docencoding>UTF-8</docencoding>
                        <destDir>doc</destDir>
                        <tags>
                            <!--MAVEN_OPTS=-Dfile.encoding=UTF-8;JAVA_TOOL_OPTIONS=-Dfile.encoding=UTF-8-->
                            <tag>
                                <name>date</name>
                                <placement>a</placement>
                                <head>创建时间</head>
                            </tag>
                        </tags>
                    </configuration>
                    <executions>
                        <execution>
                            <id>attach-javadocs</id>
                            <goals>
                                <goal>jar</goal>
                            </goals>
                        </execution>
                    </executions>
                </plugin>
                <plugin>
                    <groupId>org.apache.maven.plugins</groupId>
                    <artifactId>maven-source-plugin</artifactId>
                    <version>${maven-source-plugin.version}</version>
                    <executions>
                        <execution>
                            <id>attach-sources</id>
                            <goals>
                                <goal>jar</goal>
                            </goals>
                        </execution>
                    </executions>
                </plugin>
                <plugin>
                    <groupId>org.apache.maven.plugins</groupId>
                    <artifactId>maven-deploy-plugin</artifactId>
                    <version>${maven-deploy-plugin.version}</version>
                </plugin>
            </plugins>
        </pluginManagement>
        <plugins>
            <plugin>
                <groupId>org.codehaus.mojo</groupId>
                <artifactId>flatten-maven-plugin</artifactId>
                <version>${flatten-maven-plugin.version}</version>
                <configuration>
                    <updatePomFile>true</updatePomFile>
                    <flattenMode>resolveCiFriendliesOnly</flattenMode>
                </configuration>
                <executions>
                    <execution>
                        <id>flatten</id>
                        <phase>process-resources</phase>
                        <goals>
                            <goal>flatten</goal>
                        </goals>
                    </execution>
                    <execution>
                        <id>flatten.clean</id>
                        <phase>clean</phase>
                        <goals>
                            <goal>clean</goal>
                        </goals>
                    </execution>
                </executions>
            </plugin>
            <plugin>
                <groupId>org.codehaus.mojo</groupId>
                <artifactId>versions-maven-plugin</artifactId>
                <version>${versions-maven-plugin.version}</version>
            </plugin>
        </plugins>
    </build>

    <distributionManagement>
        <repository>
            <id>cdyfsz-release</id>
            <url>https://mvn.cdyfsz.com/repository/maven-releases/</url>
        </repository>
        <snapshotRepository>
            <id>cdyfsz-snapshots</id>
            <url>https://mvn.cdyfsz.com/repository/maven-snapshots/</url>
        </snapshotRepository>
    </distributionManagement>

</project>
