<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>
    <parent>
        <groupId>com.cdyfsz</groupId>
        <artifactId>${appName}-parent</artifactId>
        <version>${revision}</version>
    </parent>
    <artifactId>${appName}</artifactId>
    <name>${appName}</name>
    <description>服务</description>
    <packaging>jar</packaging>

    <dependencies>
        <!-- 公司内部服务依赖 api  start-->
        <dependency>
            <groupId>com.cdyfsz</groupId>
            <artifactId>${appName}-api</artifactId>
        </dependency>
        <!-- 公司内部服务依赖 api  end-->

        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-configuration-processor</artifactId>
            <optional>true</optional>
        </dependency>
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-validation</artifactId>
        </dependency>
        <dependency>
            <groupId>club.newepoch</groupId>
            <artifactId>isf-boot-start</artifactId>
        </dependency>
        <dependency>
            <groupId>club.newepoch</groupId>
            <artifactId>cache-boot-start</artifactId>
        </dependency>
        <dependency>
            <groupId>club.newepoch</groupId>
            <artifactId>BaseException</artifactId>
        </dependency>
        <dependency>
            <groupId>club.newepoch</groupId>
            <artifactId>BaseException</artifactId>
        </dependency>
        <dependency>
            <groupId>club.newepoch</groupId>
            <artifactId>mybatis-boot-start</artifactId>
        </dependency>
        <dependency>
            <groupId>com.google.guava</groupId>
            <artifactId>guava</artifactId>
        </dependency>
        <dependency>
            <groupId>ch.qos.logback</groupId>
            <artifactId>logback-classic</artifactId>
            <scope>runtime</scope>
        </dependency>
        <dependency>
            <groupId>ch.qos.logback</groupId>
            <artifactId>logback-core</artifactId>
            <scope>runtime</scope>
        </dependency>
        <dependency>
            <groupId>net.logstash.logback</groupId>
            <artifactId>logstash-logback-encoder</artifactId>
            <version>${logstash-encoder.version}</version>
            <scope>runtime</scope>
        </dependency>
        <!--规则引擎-->
        <dependency>
            <groupId>com.alibaba</groupId>
            <artifactId>QLExpress</artifactId>
        </dependency>
        <!-- 规则引擎 -->
        <dependency>
            <groupId>com.alibaba</groupId>
            <artifactId>QLExpress</artifactId>
        </dependency>
    </dependencies>

    <build>
        <resources>
            <resource>
                <directory>src/main/resources</directory>
                <filtering>true</filtering>
                <includes>
                    <include>bootstrap.yml</include>
                    <include>app.properties</include>
                    <include>application-*.yml</include>
                    <include>logback.xml</include>
                    <include>mapper/*</include>
                </includes>
                <excludes>
                    <exclude>application-dev.yml</exclude>
                    <exclude>logback-*.xml</exclude>
                </excludes>
            </resource>
        </resources>
        <plugins>
            <plugin>
                <groupId>org.springframework.boot</groupId>
                <artifactId>spring-boot-maven-plugin</artifactId>
                <configuration>
                    <mainClass>${package}.Application</mainClass>
                    <finalName>${project.build.finalName}</finalName>
                    <excludes>
                        <exclude>
                            <groupId>org.projectlombok</groupId>
                            <artifactId>lombok</artifactId>
                        </exclude>
                    </excludes>
                </configuration>
                <executions>
                    <execution>
                        <id>repackage</id>
                        <goals>
                            <goal>repackage</goal>
                        </goals>
                    </execution>
                </executions>
            </plugin>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-compiler-plugin</artifactId>
                <version>${maven-compiler-plugin.version}</version>
                <configuration>
                    <source>${maven.compiler.source}</source>
                    <target>${maven.compiler.target}</target>
                    <parameters>true</parameters>
                    <compilerArguments>
                        <Xlint/>
                    </compilerArguments>
                    <showWarnings>true</showWarnings>
                    <showDeprecation>true</showDeprecation>
                    <annotationProcessorPaths>
                        <path>
                            <groupId>org.projectlombok</groupId>
                            <artifactId>lombok</artifactId>
                            <version>${lombok.version}</version>
                        </path>
                    </annotationProcessorPaths>
                </configuration>
            </plugin>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-pmd-plugin</artifactId>
            </plugin>
            <plugin>
                <groupId>com.spotify</groupId>
                <artifactId>docker-maven-plugin</artifactId>
                <version>${docker-maven-plugin.version}</version>
                <configuration>
                    <serverId>newepoch-docker-hub</serverId>
                    <registryUrl>${newepoch-docker-hub}</registryUrl>
                    <!--suppress HttpUrlsUsage -->
                    <dockerHost>http://${newepoch-docker-server}/</dockerHost>
                    <registryUrl>${newepoch-docker-hub}</registryUrl>
                    <imageName>${newepoch-docker-hub}/${image-name}:${project.version}</imageName>
                    <dockerDirectory>${project.basedir}/deployment</dockerDirectory>
                    <resources>
                        <resource>
                            <targetPath>${workdir}/config</targetPath>
                            <directory>${project.basedir}/src/main/resources</directory>
                            <include>bootstrap.yml</include>
                        </resource>
                        <resource>
                            <targetPath>${workdir}</targetPath>
                            <directory>${project.basedir}/target/classes</directory>
                            <include>app.properties</include>
                        </resource>
                        <resource>
                            <targetPath>/${workdir}/</targetPath>
                            <directory>${project.basedir}/target</directory>
                            <include>${project.build.finalName}.jar</include>
                        </resource>
                    </resources>
                </configuration>
                <dependencies>
                    <dependency>
                        <groupId>commons-logging</groupId>
                        <artifactId>commons-logging</artifactId>
                        <version>1.2</version>
                    </dependency>
                    <dependency>
                        <groupId>commons-codec</groupId>
                        <artifactId>commons-codec</artifactId>
                        <version>1.15</version>
                    </dependency>
                </dependencies>
            </plugin>
        </plugins>
    </build>

</project>
