package ${package}.api.${moduleName};

import ${package}.constants.BizConstants;
import io.swagger.annotations.Api;
import org.springframework.cloud.openfeign.FeignClient;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

/**
 * 成都思致科技有限公司
 *
 * @author ${author}
 * @version V1.0
 * 说明：${className}接口类对应接口
 * =========================================================================
 * 变更履历：
 * -------------------------------------------------------------------------
 * 变更编号     变更时间    变更人   变更原因    变更内容
 * -------------------------------------------------------------------------
 * <p>
 * @date ${datetime}
 **/

@RestController
@Api(value = "${className}Api", tags = "${className}")
@RequestMapping(BizConstants.SERVER_URI_API + "/${moduleName}")
@FeignClient(value = BizConstants.SERVER_ID, url = BizConstants.FEIGN_CLIENT_URL, contextId = "I${className}Api")
public interface I${className}Api {

}


