package ${package}.${moduleName}.controller;

import java.util.Arrays;
import java.util.Map;

import org.apache.shiro.authz.annotation.RequiresPermissions;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;

/**
 * 成都一方思致科技有限公司
 *
 * @author ${author}
 * @version V1.0
 * 说明：${comments}
 * =========================================================================
 * 变更履历：
 * -------------------------------------------------------------------------
 * 变更编号     变更时间    变更人   变更原因    变更内容
 * -------------------------------------------------------------------------
 * <p>
 * @date ${datetime}
 **/
@RestController
public class ${className}Controller {

    @Autowired
    private ${className}Service ${classname}Service;

    /**
     * 通过keyId查询详细信息
     * @param keyId 主键
     */
    @GetMapping("/info/{${pk.attrname}}")
    public R info(@PathVariable("${pk.attrname}") String ${pk.attrname}){
		${className}DTO ${classname} = ${classname}Service.getById(${pk.attrname});
        return ${classname};
    }


}
