package ${package}.${moduleName}.dao.impl;

import ${package}.${moduleName}.pojo.${className};
import org.springframework.stereotype.Repository;
import lombok.extern.slf4j.Slf4j;
import ${package}.${moduleName}.dao.I${className}Dao;
import com.cdyfsz.base.biz.svc.scf.base.dao.BaseDaoImpl;


/**
 * 成都一方思致科技有限公司
 *
 * @author ${author}
 * @version V1.0
 * 说明：${className}实体类对应dao实现类
 * =========================================================================
 * 变更履历：
 * -------------------------------------------------------------------------
 * 变更编号     变更时间    变更人   变更原因    变更内容
 * -------------------------------------------------------------------------
 * <p>
 * @date ${datetime}
 **/
@Slf4j
@Repository
public class ${className}DaoImpl extends BaseDaoImpl<${className}> implements I${className}Dao {

}

