package ${package}.${moduleName}.ettlogic;

import ${package}.${moduleName}.dao.pojo.${className};
import com.cdyfsz.base.biz.svc.scf.base.ettlogic.IBaseEttLogic;

/**
 * 成都一方思致科技有限公司
 *
 * @author ${author}
 * @version V1.0
 * 说明：${className}实体类对应业务实体Logic接口
 * =========================================================================
 * 变更履历：
 * -------------------------------------------------------------------------
 * 变更编号     变更时间    变更人   变更原因    变更内容
 * -------------------------------------------------------------------------
 * <p>
 * @date ${datetime}
 **/
public interface I${className}EttLogic extends IBaseEttLogic<${className}> {

}

