package ${package}.${moduleName}.logic;

import ${package}.${moduleName}.dao.pojo.${className};
import org.springframework.stereotype.Component;
import lombok.extern.slf4j.Slf4j;
import ${package}.${moduleName}.logic.I${className}QueryLogic;
import com.cdyfsz.base.biz.svc.scf.base.logic.BaseQueryLogicImpl;
import ${package}.${moduleName}.ettlogic.I${className}EttLogic;

/**
 * 成都一方思致科技有限公司
 *
 * @author ${author}
 * @version V1.0
 * 说明：${comments}实体类对应操作类Logic实现类
 * =========================================================================
 * 变更履历：
 * -------------------------------------------------------------------------
 * 变更编号     变更时间    变更人   变更原因    变更内容
 * -------------------------------------------------------------------------
 * <p>
 * @date ${datetime}
 **/
@Slf4j
@Component
public class ${className}QueryLogicImpl extends BaseQueryLogicImpl<${className}, I${className}EttLogic> implements I${className}QueryLogic {

}

