package ${package}.${moduleName}.infrastructure.persistent.reposotiry;

import ${package}.${moduleName}.domain.${classname}.repository.I${className}Repository;
import ${package}.${moduleName}.infrastructure.persistent.repository.mappers.${className}Mapper;
import ${package}.${moduleName}.infrastructure.persistent.repository.mappers.${className}Service;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Repository;

/**
 * 成都思致科技有限公司
 *
 * @author ${author}
 * @version V1.0
 * 说明：${className}实体类对应repository接口
 * =========================================================================
 * 变更履历：
 * -------------------------------------------------------------------------
 * 变更编号     变更时间    变更人   变更原因    变更内容
 * -------------------------------------------------------------------------
 * <p>
 * @date ${datetime}
 **/
@Repository
public class ${className}Repository implements I${className}Repository {

    @Autowired
    ${className}Service ${classname}Service;

    @Autowired(required = false)
    ${className}Mapper ${classname}Mapper;
}

