package ${package}.${moduleName}.service.impl;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import lombok.extern.slf4j.Slf4j;
import ${package}.${moduleName}.service.I${className}Service;
import ${package}.${moduleName}.logic.I${className}QueryLogic;
import ${package}.${moduleName}.logic.I${className}OperateLogic;
import club.newepoch.isf.service.BaseService;

/**
 * 成都一方思致科技有限公司
 *
 * @author ${author}
 * @version V1.0
 * 说明：${className}实体类对应service接口实现类
 * =========================================================================
 * 变更履历：
 * -------------------------------------------------------------------------
 * 变更编号     变更时间    变更人   变更原因    变更内容
 * -------------------------------------------------------------------------
 * <p>
 * @date ${datetime}
 **/
@Slf4j
@Service("${classname}Service")
public class ${className}ServiceImpl extends BaseService implements I${className}Service {

    @Autowired
    private I${className}OperateLogic i${className}OperateLogic;
    @Autowired
    private I${className}QueryLogic i${className}QueryLogic;

}