package ${package}.infrastructure.constants;

/**
 * 成都思致科技有限公司
 *
 * @author ${author}
 * @date ${date}
 * @version V1.0
 * 说明：业务常量
 * =========================================================================
 * 变更履历：
 * -------------------------------------------------------------------------
 * 变更编号     变更时间    变更人   变更原因    变更内容
 * -------------------------------------------------------------------------
 * <p>
 **/
public class BizConstants {
    /**
     * 当前服务的主数据源名称
     */
    public final static String DS_NAME = "loan_config";
}
