package ${packageVO};

import java.io.Serializable;
import java.util.Date;

import lombok.Data;
import io.swagger.annotations.ApiModelProperty;
import io.swagger.annotations.ApiModel;
import java.math.*;

/**
 * 成都思致科技有限公司
 *
 * @author ${author}
 * @version V1.0
 * 说明：${className}传输层对象
 * =========================================================================
 * 变更履历：
 * -------------------------------------------------------------------------
 * 变更编号     变更时间    变更人   变更原因    变更内容
 * -------------------------------------------------------------------------
 * <p>
 * @date ${datetime}
 **/
@Data
@ApiModel("${className}VO")
public class ${className}VO implements Serializable {
#foreach ($column in $columns)
#if($column.columnName == $pk.columnName)
    /**
     * $column.comments
     */
    @ApiModelProperty("$column.comments")
    private String $column.attrname;
#else
    /**
     * $column.comments
     */
    @ApiModelProperty("$column.comments")
    private $column.attrType $column.attrname;
#end
#end
}
