package ${packageApplication};

import lombok.extern.slf4j.Slf4j;
import lombok.RequiredArgsConstructor;
import org.springframework.stereotype.Component;
import cn.net.cdsz.mybatis.datasource.annotation.DataSource;
import ${package}.infrastructure.constants.BizConstants;
import ${packageDomainService}.${className}DomainService;
import ${packageAppRepository}.I${className}AppRepository;

/**
 * 成都思致科技有限公司
 *
 * @author ${author}
 * @version V1.0
 * 说明：${className}实体类对应Application接口
 * =========================================================================
 * 变更履历：
 * -------------------------------------------------------------------------
 * 变更编号     变更时间    变更人   变更原因    变更内容
 * -------------------------------------------------------------------------
 * <p>
 * @date ${datetime}
 **/
@Slf4j
@Component
@RequiredArgsConstructor
@DataSource(dsName = BizConstants.DS_NAME)
public class ${className}Application {

    private final I${className}AppRepository i${className}AppRepository;
    private final ${className}DomainService ${classname}DomainService;

}

