package ${packageDomainRepository};

/**
 * 成都思致科技有限公司
 *
 * @author ${author}
 * @version V1.0
 * 说明：${className}实体类对应DomainRepository读写接口
 * 被service层调用，由infrastructure.repository的业务模块${moduleName}实现
 * =========================================================================
 * 变更履历：
 * -------------------------------------------------------------------------
 * 变更编号     变更时间    变更人   变更原因    变更内容
 * -------------------------------------------------------------------------
 * <p>
 * @date ${datetime}
 **/
public interface I${className}DomainRepository {

}

