spring:
  lifecycle:
    timeout-per-shutdown-phase: 30s
  sleuth:
    web:
      client:
        enabled: false

club:
  newepoch:
    dbp:
      data-sources:
        - ds-name: ${appName}
          url: jdbc:mysql://192.168.136.61:3307/${appName}?serverTimezone=Asia/Shanghai&zeroDateTimeBehavior=CONVERT_TO_NULL&useUnicode=true&characterEncoding=utf-8&useSSL=false
          username: root
          password: WSF_root123456
          read-only: false
    serialize:
      date:
        date-to-string: true
        data-format-pattern: yyyy-MM-dd HH:mm:ss
    swagger:
      enable: true
      title: ${spring.application.name} 开放接口文档
      description: 融资方案配置服务 REST-API在线文档文档
      version: ${spring.application.version}
      base-package: com.cdyfsz.svc.config

com:
  cdyfsz:
    cache:
      enabled: true
      caches:
        redis:
          - cache-ds-name: ${spring.application.name} # 缓存名，与当前服务名一致
            host: 192.168.136.61 # 缓存服务器主机地址
            port: 6379 # 缓存服务器端口
            database: 1 # redis库名，非必填，默认为0
            password:



